@charset 'utf-8';
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 8px 0;
    background-color: #0aacdc;
    
}

.center {
    max-width: 1280px;
    margin: 0px auto;
    padding: 0 2%;
    display: flex;
}

.logo {
    width: 50%;
}

.logo h2 {
    color: white;
}

.form-busca {
    width: 50%;
    text-align: right;
}

.form-busca form {
    display: inline-block;
    max-width: 200px;
    position: relative;
}

.form-busca i {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 20px;
}

.form-busca input {
    background-color: #008bb4;
    border: 0;
    padding-left: 40px;
    color: white;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
}

::placeholder {
    color: white;
    opacity: 1;
}
:-ms-input-placeholder {
    color: white;
}
::-ms-input-placeholder {
    color: white;
}

section.noticia-destaque {
    padding: 40px 0;
}

section.noticia-destaque > .center {
    max-width: 960px;
}

.img-destaque {
    width: 100%;
    position: relative;
    border-radius:20px;
}

.img-destaque img {
    width: 100%;
    border-radius: 20px;
}

.title-destaque-descricao {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
    max-width: 600px;
    color: white;
    z-index: 2;
}

.title-destaque-descricao h2 {
    font-size: 64px;
    margin: 20px 0;
}

.title-destaque-descricao p {
    font-weight: lighter;
}

.overlay-destaque {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    border-radius: 20px;
}

section.outras-noticias {
    background-color: #eaeaea;
    padding: 30px 0;
    text-align: center;
}

section.outras-noticias h2 {
    font-size: 54px;
}

.ultimas {
    width: 60%;
    padding: 0 10px;
    display: flex;
}

.box-ultima-single {
    width: 48%;
    margin-right: 2%;
    background-color: white;
    padding-bottom: 20px;
    height: 100%;
    border-radius: 10px;
    text-align: left;
}

.box-ultima-single img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.conteudo-noticia-single {
    padding: 20px;
}

.box-ultima-single h3 {
    color: #334398;
    font-size: 16px;
    margin: 20px 0;
}

.box-ultima-single h2 {
    color: #303336;
    font-size: 28px !important;
}

.box-ultima-single p {
    color: #7b8591;
    font-size: 16px;
    margin: 20px 0;
}

.mais-lidas {
    width: 40%;
}

.mais-lidas > h3 {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

